@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* Estilo do cabeçalho */
body {
    background-color: black;
    color: #fff;
    background-image: url(GifStars\ \(3\).gif);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
}

header {
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
  }
  
  header h1 {
    margin: 0;
    font-size: 32px;
    font-family: 'Raleway';  
  }

  p {
    font-size: 20px; 
  }
  
  nav {
    display: flex;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 4px;
    margin-top: -16px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
  
  }

  main {
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
 .link > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: -73px;
  }
  
  .link > ul > li {
    margin-bottom: 10px;
    margin: 7px;
  }
  
  li {
    margin-bottom: 10px;
    margin: 7px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 500;
  }

  a:hover {
    color: #fffb09
  }
  
  footer {
    background-color: #ff0984;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 278px;
  }
  
  footer p {
    margin: 0;
    font-size: 16px;
  }

  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    /* box-shadow: 2px 2px 2px #ccc; */
    background-color: #ffffff;
    /* color: rgb(0, 0, 0); */
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    /* width: 50%; */
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #ffffff;
    color: #000000
  }

 

 
